.product-container img{
 width: 100%;
 height: 200px;
}

.item-text{
  line-height: 5px;
  color:blue;
  padding-left: 5px;
}

.cart-btn{
  width: 100%;
}

.cart-btn:hover{
  background-color: tomato;
}

.product-container{
  border: 1px solid salmon;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-text{
  padding-right: 10px;

}

.product-container:hover{
  top: -3px;
	left: -3px;
  box-shadow: 3px 3px 15px 0px rgba(82, 82, 82, 0.85);
}